#container{
	box-sizing: border-box;
	width: 970px;
	height: 66px;
	position: relative;
	background: #bd3039 url('../img/bg_MLB_16_DigitalBanners_RedSox_970x66_00a.jpg') no-repeat;
}
#container #team,
#container #logo,
#container #cta,
#container #h1{
	position: absolute;
}
#container #team	{ left: 6px; top: 10px; }
#container #h1			{ left: 51px; top: 24px; }
#container #cta		{ left: 827px; top: 21px; }
#container #logo		{ left: 646px; top: 19px; }