#container{
	box-sizing: border-box;
	width: 970px;
	height: 66px;
	position: relative;
	background: #005a9c url('../img/bg_MLB_16_DigitalBanners_Mets_970x66_00a.jpg') no-repeat;
}
#container #team,
#container #logo,
#container #cta,
#container #h1{
	position: absolute;
}
#container #team	{ left: 11px; top: 9px; }
#container #h1			{ left: 63px; top: 16px; }
#container #cta		{ left: 828px; top: 20px; }
#container #logo		{ left: 645px; top: 19px; }