#container{
	box-sizing: border-box;
	width: 320px;
	height: 50px;
	position: relative;
	background: #002d72;
}
#container #pa,
#container #com,
#container #ps,
#container #logo,
#container #cta{
	position: absolute;
}
#container #cta	{ left: 182px; top: 22px; }
#container #logo	{ left: 7px; top: 5px; }
#container #ps		{ left: 183px; top: 9px; }
#container #com{ left: 263px; top: 7px; }
#container #pa		{ left: 292px; top: 23px; }