#container{
	box-sizing: border-box;
	width: 970px;
	height: 66px;
	position: relative;
	background: #005a9c url('../img/bg_MLB_16_DigitalBanner_Yankees_970x66_00a.jpg') no-repeat;
}
#container #team,
#container #logo,
#container #cta,
#container #h1{
	position: absolute;
}
#container #team	{ left: 12px; top: 6px; }
#container #h1			{ left: 73px; top: 22px; }
#container #cta		{ left: 824px; top: 20px; }
#container #logo		{ left: 637px; top: 19px; }